<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Влад
     
    -->
    <link rel="stylesheet" href="Front_End\style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Экономический календарь</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Время</th>
                    <th>Валюта</th>
                    <th>Событие</th>
                    <th>Фактическое</th>
                    <th>Прогноз</th>
                    <th>Предыдущее</th>
                    <th>Важность</th>
                </tr>
            </thead>
            <tbody>
                {% if calendar_data %}
                {% for event in calendar_data %}
                    <tr>
                        <td>{{ event.time }}</td>
                        <td>{{ event.currency }}</td>
                        <td>{{ event.event }}</td>
                        <td>{{ event.actual }}</td>
                        <td>{{ event.forecast }}</td>
                        <td>{{ event.previous }}</td>
                        <td>{{ event.importance }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">Нет доступных данных</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <script src="script.js"></script>
</body>
</html>